.App-title-container{
  background-color: white;
  width:60%;
  height:45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border:2px solid red;
  margin-top: 40px;
}


.App-title{
  padding-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

.second-container{
  background-color: white;
  height:250px;
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 3px orangered;
}

.emoji{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  font-size: 120px;
}

.third-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  border: 5px double orangered;
}

.emoji-item{
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}
.emoji-item:hover{
  transform: scale(1.3);
}