.App-title-container{
  background-color: white;
  width:60%;
  height:45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border:2px solid red;
  margin-top: 40px;
}


.App-title{
  padding-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

.second-container{
  
  height:250px;
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 3px orangered;
  
}

.emoji{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  
}

.third-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  width:400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 35px;
  border: 5px double orangered;
}

.emoji-item{
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}
.emoji-item:hover{
  transform: scale(1.3);
}

.emoji-editor-container{
  display: flex;
  justify-content: space-around;
}

.colors-container{
  background-color: white;
  display: flex;
  justify-content:space-evenly ;
  width:450px;
  padding: 20px;
  border-radius: 30px;
  margin-top: 110px;
}

.color-item{
  border-radius: 5px;
  border: 1px solid grey;
  width:60px;
  height: 50px;

}
.color-item:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.bg-white{
  background-color: white;
}
.bg-palegreen{
  background-color: palegreen;
}
.bg-skyblue{
  background-color: skyblue;
}
.bg-yellow{
  background-color: yellow;
}
.bg-orange{
  background-color: orange;
}

.size-container{
  background-color: white;
  width:450px;
  height:40px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 50px;
}

.size-slider{
  width:100%;
}

